<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Collections</title>
</head>
<body>
<h1>Admin</h1>
<a href="/logout">Logout</a>
<form id="adminForm" method="post" action="/delete">
    <ul>
        <% var index=1%>
        <% boards.forEach(board => { %>
            <li>
                <%=board.name%> <%= board.type=='draw'?'It was a draw!':board.player+' Won!'%>
                 <input type="checkbox" name="ids[]" value="<%= board._id %>">
            </li>
        <% }) %>
    </ul>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Delete Selected</button>
    <input type="submit" name="deleteAll" value="Delete All">
</form>

</body>
</html>
