<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Collections</title>
</head>
<body>
<h1>Admin</h1>
<a href="/logout">Logout</a>
<form id="adminForm" method="post" action="/delete">
    <ul>
        <% var index=1%>
        <% boards.forEach(board => { %>
            <li>
                <%=board.name%> <%= board.type=='draw'?'It was a draw!':board.player+' Won!'%>
                 <input type="checkbox" name="ids[]" value="<%= board._id %>">
            </li>
        <% }) %>
    </ul>
    <button type="submit">Delete Selected</button>
    <input type="button" value="Delete All" onclick="checkAll()">
</form>
<script>
    // This is the JavaScript function that checks all the boxes
    function checkAll() {
        var checkboxes = document.querySelectorAll("input[name='ids[]']");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }

        // This submits the form
        document.getElementById("adminForm").submit();
    }
</script>
</body>
</html>
