#board {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 98px;
    height: 98px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: lightgray;
}

.message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.card {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}
